.chart-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chart-top .doanhThu {
    font-size: 1.8rem;
    font-weight: bold;
}

.totalDoanhthu {
    margin-top: 2rem;
}

.totalDoanhthu .tit {
    color: #1e0d03;
}

.pie-chart {
    margin-top: 8rem;
    display: flex;
    justify-content: space-between;
}

.pie-circle {
    display: flex;
    column-gap: 2rem;
}

.labelPie {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.groupLabel {
    text-align: center;
}

.groupLabel p {
    font-weight: 700;
}

.notePie {
    margin-right: 3rem;
}

.notePie-block {
    display: flex;
    column-gap: 1rem;
}

.colorNote1 {
    width: 45px;
    height: 20px;
    border-radius: 4px;
    background-color: #4f75ff;
}
.colorNote2 {
    width: 45px;
    height: 20px;
    border-radius: 4px;
    background-color: #ff8a48;
}
