.chart-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chart-top .doanhThu {
    font-size: 1.8rem;
    font-weight: bold;
}

.totalDoanhthu {
    margin-top: 2rem;
}

.totalDoanhthu .tit {
    color: #1e0d03;
}
