@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Inter:wght@300;400;500;600;700&family=Montserrat:wght@400;500;700;900&display=swap');

:root {
    --background: #f9f6f4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    margin: 0;
}

html {
    font-family: 'Montserrat', sans-serif;
    font-size: 62.5%;
    background-color: var(--background);
}

body {
    font-size: 1.8rem;
}
