@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Inter:wght@300;400;500;600;700&family=Montserrat:wght@400;500;700;900&display=swap');

:root {
    --background: #f9f6f4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    margin: 0;
}

html {
    font-family: 'Montserrat', sans-serif;
    font-size: 62.5%;
    background-color: var(--background);
}

body {
    font-size: 1.8rem;
}

.nav-links {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.nav-link {
    text-decoration: none;
    color: #1e0d03;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 1.5rem 1.6rem 1.5rem 2.4rem;
}

.active {
    background-color: #ffb800;
    font-weight: 700;
    border-radius: 8px;
    color: #fff;
}

.dasboard {
    display: flex;
    padding: 2rem;
    column-gap: 3.6rem;
}

.leftSide {
    padding-top: 6rem;
}

.rightSide {
    width: 80vw;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 2.4rem;
    padding: 2.4rem;
    min-height: 100vh;
    height: 100%;
}
