@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Inter:wght@300;400;500;600;700&family=Montserrat:wght@400;500;700;900&display=swap');

:root {
    --background: #f9f6f4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    margin: 0;
}

html {
    font-family: 'Montserrat', sans-serif;
    font-size: 62.5%;
    background-color: var(--background);
}

body {
    font-size: 1.8rem;
}

.nav-links {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.nav-link {
    text-decoration: none;
    color: #1e0d03;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 1.5rem 1.6rem 1.5rem 2.4rem;
}

.nav-link .icon {
    font-size: 2rem;
}

.nav-link:hover {
    background-color: #ffb800;
    font-weight: 700;
    border-radius: 8px;
    color: #fff;
}

.active {
    background-color: #ffb800;
    font-weight: 700;
    border-radius: 8px;
    color: #fff;
}

.active .icon svg {
    fill: #fff;
}

.dasboard {
    display: flex;
    padding: 2rem;
    column-gap: 3.6rem;
}

.leftSide {
    padding-top: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.leftSide .copyright {
    color: #1e0d03;
    font-size: 1.4rem;
}

.icon svg {
    width: 24px;
    height: 24px;
    fill: #1e0d03;
}

.rightSide {
    min-width: 80vw;
    min-height: 100vh;
    height: 100%;
}

.title {
    font-size: 3.6rem;
    font-weight: 700;
    color: #1e0d03;
}

.btn {
    border: 1px solid #ff993c;
    outline: none;
    background-color: unset;
    color: #ff993c;
    cursor: pointer;
}

.ant-table-pagination {
    justify-content: center !important;
}

.ant-picker-suffix {
    color: #ff993c !important;
}

.box-container {
    background-color: #fff;
    border-radius: 2.4rem;
    padding: 2.4rem;
}
